.blogList-card {
  background-color: var(--background-secondary);
  box-shadow: var(--shadow-3);
  border-radius: var(--radius-6);
  padding: 12px;
  cursor: pointer;
}

.blogList-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-5);
}

.blogList-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogList-title {
  font-size: var(--fs-4);
  font-weight: 500;
}

.blogList-title:hover {
  text-decoration: underline;
}

.blogList-date {
  font-size: var(--fs-5);
}
