.blog-post {
  margin-top: var(--pad-1);
}

.blog-wrapper {
  display: grid;
  gap: 1rem;
}

.banner-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.blog-title {
  font-weight: 700;
  font-size: var(--fs-1);
  line-height: 1.4;
}

.blog-subtitle {
  display: flex;
  align-items: center;
  color: var(--foreground-secondary);
  font-size: var(--fs-5);
  gap: 5px;
}

.tag-wrapper {
  display: flex;
  gap: 10px;
}

.blog-tags {
  color: var(--foreground-secondary);
}

.blog-tags:hover {
  text-decoration: underline;
}

.blog-content {
  font-size: var(--fs-0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: var(--pad-3);
  margin-top: var(--pad-1);
}
