.comment {
    margin-bottom: var(--pad-3);
}

.comment .container {
    display: grid;
    gap: 15px;
}

.comment-form {
    border-top: 1px solid var(--action-primary);
    background: var(--background-secondary);
}

.comment-form-title {
    margin-bottom: 1rem;
}

.comment-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 1rem;
}

.input-field {
    border: 1px solid var(--action-primary);
    border-radius: var(--radius-6);
    padding: 12px;
    background: var(--background-primary);
}

.input-field:focus{
    outline: none;
    border: 1px solid var(--accent);
}

textarea {
    min-height: 120px;
    height: 120px;
    max-height: 240px;
    resize: vertical;
}

.comment-title {
    margin-bottom: 0.5rem;
}

.comment-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--action-primary);
    padding: 12px;
    border-radius: var(--radius-6);
    gap: 10px;
}

.comment-head {
    display: flex;
    align-items: center;
    color: var(--foreground-secondary);
    font-size: var(--fs-4);
    gap: 5px;
}

.comment-name {
    font-weight: 600;
}

.errorField {
    border: 1px solid red;
}

.error {
    font-size: var(--fs-5);
    color: red;
    transform: translateY(-10px);
    padding-inline: 10px;
}