.markdown-wrapper {
    font-family: var(--ff-segoe);
    font-size: var(--fs-0);
}

.markdown-wrapper p {
    margin-block: 1em;
}

.markdown-wrapper li {
    list-style: initial;
    margin-inline-start: 1em;
}

.markdown-wrapper a {
    text-decoration: underline;
    color: blue;
}