.topicList-wrapper {
  display: grid;
  gap: 20px;
}

.topicList-card {
  background-color: var(--background-secondary);
  box-shadow: var(--shadow-3);
  border-radius: var(--radius-6);
  padding: 12px;
  font-weight: 500;
  cursor: pointer;
}

.topicList-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-5);
  text-decoration: underline;
}